html *
{
   color: #fff !important;
   font-family: monospace !important;
}

div.postContainer {
	border-style: solid;
	padding-left: 5px;
	margin: 0px;
	margin-top: 5px;
	width: 75%;
	float: left;
	border-width: 1px;
	/*display: inline;*/
}

div.opContainer {
	border-style: solid;
	border-width: 1px;
	padding: 0px 5px;
	max-width: 1000px;
	margin: 0px;
	overflow: hidden;
}

div.opContainer + div.opContainer {
	margin-top: 10px;
}

div.postHeader {
	padding: 0px;
}
div.opContent {
	/*display: inline;*/
}

div.postContent {
	width: 100%;
	height: 100%;
}
	
p.opText {
	/*font-family: sans;*/
	padding-bottom: 2px;
	margin: 0px;
	margin-top: 2px;
	padding-bottom: 10px;
	font-size: 12px;
	height: 12px;
	display: inline;
}

p.postText {
	/*font-family: sans;*/
	word-wrap: break-word;
	padding-left: 5px;
	padding-bottom: 2px;
	margin: 0px;
	margin-top: 2px;
	font-size: 12px;
}
p.imageName {
	margin: 0;
	margin-top: -5px;
	font-size: 10px;
}

div.imageContainer {
	height: 100%;
	width: 20%;
	padding-right: 5px;
	float: left;
	display: block;
}
img.postImage {
	max-width: 100%;
	height: auto;
	width: auto;
}
div.reply {
	border-style: double;
}
p.box {
	border-style: double;
}
p.postTitle {
	margin: 0px;
	font-size: 14px;
	display: inline-block;
	padding-left: 9%;
}
a.postHeaderText {
	margin: 1px;
	font-size: 10px;
	display: inline-block;
}

p.replyHeaderText {
	margin: 1px;
	font-size: 10px;
	display: inline-block;
}

body {
	padding: 20px;
	background-color: black;
}
